td.details-control:before {
    content: "\f0ab";
    font-family: FontAwesome;
    font-size: 1.9em;
    position: absolute;
    top: 5px;
    left: 0px;
}    

td.details-control {
    cursor: pointer;
    position: relative;
}
tr.shown td.details-control:before {
    content: "\f0aa";
    font-family: FontAwesome;
    font-size: 1.9em;
    position: absolute;
    top: 5px;
    left: 0px;
}
